body {
  font-family: Inter, sans-serif;
  line-height: 2em;
  text-align: justify;
  font-weight: 400;
  margin: 0;
  padding: 1em;
}

/* *= / ^= / $= / ~= */
p[class~="color-red"] {
  color: red;
}

a {
  text-decoration: none;
}

a:active {
  color: green;
}

a:visited {
  color: cyan;
}

a:hover {
  color: pink;
}

a::before {
  content: 'Link: '
}

a::after {
  content: ' ->'
}